.clothing-img{
    width:38%;
    border: 2px solid black;;
}

.react-calendar{
    display: inline-block;
    background-color: lightgrey;
    box-shadow: 5px 1px 20px #111;

}
.react-calendar {
    width: 350px;
    max-width: 100%;
    background: rgba(247, 124, 23, 0.651);
    // border: 1px solid #a0a096;
    // font-family: Arial, Helvetica, sans-serif;
    // font-family: "Parisienne", cursive;

  }