.Nav {
  display: flex;
  justify-content: space-around;
  border: 1px solid black;

  text-decoration: none;
  height: 80px;
  align-items: center;
  font-size: 1.5rem;
  width: 99.8%;
  background-color: cadetblue;
  font-family: "Roboto Condensed", serif;
  text-decoration: none;
  align-items: center;
 

  @media screen and (max-width: 500px) {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding-bottom: 1rem;
    // border-bottom: 1px dashed;
    margin-bottom: 1rem;
  }
}

a {
  color: white;
  color: rgba(0, 0, 0, 0.774);
  color: black;
  text-decoration: none;
  font-family: "Open Sans Condensed", sans-serif;
  // border:1px solid white;

  /* text-decoration: none; */
}

.navleft {
  // border: 1px solid red;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 2.4rem;
//   color: rgba(184, 182, 182, 0.986);
//   color: rgba(211, 209, 209, 0.986);
//   color: rgba(0, 0, 0, 0.774);
// color:floralwhite;

  margin-right: 20em;

  // @media screen and (max-width: 900px) {
  //   margin-right: 8rem;
  // }
  // @media screen and (max-width: 580px) {
  //   margin-right: 0rem;
  //   margin-bottom: 1rem;
  //   padding-top: 0.2rem;
  // }
  // @media screen and (max-width: 400px) {
  //     margin-right:0rem;
  //     margin-top: 0rem;

  //     }
  .quote {
    // font-weight: 600;
    text-align: start;
    margin: 0rem;
  }

}
